// Layout.
html,
body {
    height: 100%
}

body {
    // Sticky footer
    display: flex;
    flex-direction: column;

    > .site {
        flex: 1 0 auto;
    }

    > header,
    > footer {
        flex-shrink: 0;
    }

    // Standard pages
    &:not(.page-template-page-flexbuilder) {
        > .site {
            @include make-container();
            max-width: map-get($container-max-widths, 'lg');
            padding-left: $grid-gutter-width;
            padding-right: $grid-gutter-width;
        }
    }

    // Full width layout
    &.page-template-page-wide > .site {
        max-width: map-get($container-max-widths, 'xl');
    }

    // Sidebar layout
    &.single,
    &.page-template-page-sidebar,
    &.woocommerce {

        > .site {
            @include make-container();
            max-width: map-get($container-max-widths, 'xl');
            padding-left: $grid-gutter-width;
            padding-right: $grid-gutter-width;

            > .wrap {
                @include make-row();
                margin-right: -$grid-gutter-width;
                margin-left: -$grid-gutter-width;

                .site-main {
                    @include make-col-ready();
                    padding-left: $grid-gutter-width;
                    padding-right: $grid-gutter-width;
            
                    @include media-breakpoint-up(lg) {
                      @include make-col(9);
                    }
                }

                .widget-area {
                    @include make-col-ready();
                    padding-left: $grid-gutter-width;
                    padding-right: $grid-gutter-width;
            
                    @include media-breakpoint-up(lg) {
                      @include make-col(3);
                    }
                }
            }
        }
    }

    // Margins
    &:not(.page-template-page-flexbuilder) {
        > header {
            margin-bottom: $grid-gutter-width * 2;
        }

        > footer {
            margin-top: $grid-gutter-width * 2;
        }
    }
}
