// Site Layout.
body {
    &:not(.flexbuilder) {
        > .site {
            @include make-container();
            max-width: map-get($container-max-widths, 'xl');

            @include media-breakpoint-up(lg) {
                display: flex;
                flex-flow: row wrap;

                .site-main {
                    margin-top: $grid-gutter-width;
                    margin-bottom: $grid-gutter-width;
                    width: 75%;
                }
        
                .widget-area {
                    margin-top: $grid-gutter-width;
                    padding-left: $grid-gutter-width;
                    width: 25%;
                }
        
                .site-footer {
                    width: 100%;
                }
            }
        }
    }

    &.error404,
    &.page,
    &.blog {
        > .site {
            max-width: map-get($container-max-widths, 'lg');

            @include media-breakpoint-up(lg) {
                .site-main {
                    width: 100%;
                }
            }
        }
    }

    &.wide-template {
        > .site {
            max-width: map-get($container-max-widths, 'xl');
        }
    }
}
