// Colors
$white:                          #fff !default;
$gray-100:                       #f8f9fa !default;
$gray-200:                       #e9ecef !default;
$gray-300:                       #dee2e6 !default;
$gray-400:                       #ced4da !default;
$gray-500:                       #adb5bd !default;
$gray-600:                       #6c757d !default;
$gray-700:                       #495057 !default;
$gray-800:                       #343a40 !default;
$gray-900:                       #212529 !default;
$black:                          #000 !default;

$primary:                        #1072aa !default;
$secondary:                      $gray-600 !default;
$light:                          #f3f3f3 !default;
$dark:                           #002b3f !default;

// Options
$enable-rounded:                 false !default;
$enable-shadows:                 true !default;
$enable-responsive-font-sizes:   true !default;

// Spacing
$spacer: 1.5rem !default;

// Body
$body-bg:                        $white !default;
$body-color:                     $gray-900 !default;

// Links
$link-color:                     $primary !default;
$link-decoration:                none !default;
$link-hover-color:               darken($link-color, 15%) !default;
$link-hover-decoration:          underline !default;

// Paragraphs
$paragraph-margin-bottom:        1.25rem !default;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px
) !default;

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;

// Grid columns
$grid-gutter-width:              40px !default;

// Components
$border-width:                   1px !default;
$border-color:                   $gray-300 !default;

// Typography
$font-family-sans-serif:         -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default !default;
$font-family-base:               "IBM Plex Sans", $font-family-sans-serif !default;

$font-size-base:                 1rem !default;
$line-height-base:               1.75 !default;

$h1-font-size:                   $font-size-base * 2.5 !default;
$h2-font-size:                   $font-size-base * 2 !default;
$h3-font-size:                   $font-size-base * 1.75 !default;
$h4-font-size:                   $font-size-base * 1.5 !default;
$h5-font-size:                   $font-size-base * 1.25 !default;
$h6-font-size:                   $font-size-base !default;

$headings-margin-bottom:         $spacer / 2 !default;
$headings-font-family:           null !default;
$headings-font-weight:           700 !default;
$headings-line-height:           1.2 !default;
$headings-color:                 null !default;

$display1-size:                  6rem !default;
$display2-size:                  5.5rem !default;
$display3-size:                  4.5rem !default;
$display4-size:                  3.5rem !default;

$display1-weight:                300 !default;
$display2-weight:                300 !default;
$display3-weight:                300 !default;
$display4-weight:                300 !default;
$display-line-height:            $headings-line-height !default;

$lead-font-size:                 $font-size-base * 1.25 !default;
$lead-font-weight:               300 !default;

// Buttons + Forms
$input-btn-padding-y:            0.5rem !default;
$input-btn-padding-x:            0.875rem !default;
$input-btn-padding-y-sm:         0.25rem !default;
$input-btn-padding-x-sm:         0.5rem !default;
$input-btn-padding-y-lg:         0.85rem !default;
$input-btn-padding-x-lg:         1.125rem !default;

// Buttons
$btn-padding-x:                  $input-btn-padding-x * 1.75 !default;
$btn-padding-x-sm:               $input-btn-padding-x-sm * 1.75 !default;
$btn-padding-x-lg:               $input-btn-padding-x-lg * 1.75 !default;

// Forms
$input-bg:                       $white !default;
$input-color:                    $gray-700 !default;
$input-border-color:             $gray-400 !default;

$form-grid-gutter-width:         12px !default;
$form-group-margin-bottom:       1.5rem !default;

// Navbar
$navbar-padding-y:               $spacer / 2 !default;
$navbar-padding-x:               $grid-gutter-width / 2 !default;
$navbar-nav-link-padding-x:      1rem !default;

// Hamburger
$hamburger-padding-x:            6px !default;
$hamburger-padding-y:            6px !default;
$hamburger-layer-width:          30px !default;
$hamburger-layer-height:         2px !default;
$hamburger-layer-spacing:        8px !default;
$hamburger-layer-color:          $primary !default;
$hamburger-layer-border-radius:  4px !default;
$hamburger-hover-opacity:        0.7 !default;
$hamburger-active-layer-color:   $secondary !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
$hamburger-types:                (collapse) !default; // Only load this animation. Extend this class on .hamburger
